*, html {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    color: rgba(3, 52, 105);
    scroll-behavior: smooth;
    font-size: 17.5px;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.55)), url("./media/background-image.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: scroll;
}

/* CONTACT NAV STYLING */
nav {
    background-color: rgba(255, 255, 255, 0.5);
    height: 75px;
    position: fixed;
    width: 100%;
    min-width: 250px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-list {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.contact-list li a {
    display:block;
    width: fit-content;
    height:fit-content;
    padding: 10px;
}
.contact-list li a img {
    height:40px;
    width: auto;

    border-radius: 50%;

}

.contact-list li a img:hover, img.sidebar-icon:hover {
    background: rgba(255,255,255,0.9); 
    border-radius: 50%;
}


main {
    height: calc(100% - 100px);
    width: 100%;
    min-width: 250px;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;

}

/* HOME PAGE STYLING */


.home-page >* {
    margin: 10px;
}
.home-page {
    width: 100%;
    min-width: 250px;
    max-width: 900px;
    height: 75%;
    min-height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.home-page h1 {
    font-size: 80px;
    font-weight: 300;
    padding-bottom: 20px;
}

.home-page h3 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 40px
}

.home-page p a:hover {
  text-decoration: none;
}

img.sidebar-icon {
    height: 40px;
}

.sidebar-icon-container {
    margin: 10px;
}

.sidebar-container.sidebar {
    position: fixed;
    top: 75px;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(255,255,255, .5) ;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    margin: 25px;
    padding:20px;
    background-color: white;
    border-radius: 10px;
  }
  
  .sidebar ul a li img {
    height: 40px;
    margin-right: 10px;
  }
  
  .sidebar ul a li{
    font-size: 20px;
    text-decoration: none;
    color: rgba(3, 52, 104);
  }

  .sidebar ul a {
    text-decoration:none
  }
  
  .sidebar ul li:hover {
    background-color: rgb(196, 193, 193);
  }

  

  .sidebar-icon.rotated {
    transform: rotate(90deg);
  }
  



.skills-list li img {
    height: 40px;
    width: auto;
}
.skills-list{
    list-style-type: none;
}
.skills-list {
    display: flex;
    justify-content: center;
}
.skills-list li {
    margin: 10px;
}

/* PROJECTS STYLING */
.page-title  {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 15px
}
.project-card, .about-me p {
    background-color: rgba(255, 255, 255, 0.46);
    border: 1px solid rgba(3, 52, 105, 0.137);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(3, 52, 105, 0.137);
  }
.project-card {
  max-width: 1800px;
}
  .project-title {
    text-align: center;
  }

  .project-title h2 {
    font-size: 25px;
    font-weight: 500;
  }
  
  .project-content {
    margin-top: 20px;
  }
  
  .project-content p{
    text-align: center;
    line-height: 1.5;
  }
  
  .project-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
  }
  
  .project-images img {
    min-width: 250px;
    max-width:850px;
    width: 75%;
    height: auto;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    box-shadow: 0 0 10px rgba(3, 52, 105, 0.137);
    border-radius: 15px;
  }
  
  .project-images img:hover {
    transform: scale(1.2);
  }
  
  .project-content a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
    
    transition: color 0.3s;
  }
  
  .project-content a:hover {
    text-decoration: none;
  }

.projects {

}
/* ABOUT ME  */
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-me p{
    text-align: center;
    line-height: 1.5;
    width: 85%;
    min-width: 250px;
    max-width: 1200px;
  }

/* 
  MEDIA SELECTOR FOR 500PX WIDTH */

  @media screen and (max-width:600px) {
    body {
      font-size: 17.5px;
    }
    main {
      top: 135px;
    }
    
    .home-page {
      height: fit-content;
      width: 90%;
      min-width: 300px;
      justify-content:flex-start;

    }
    .home-page h1 {
      margin: 0;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      padding: 15px
    }
    .home-page p {
      font-size: 17.5px;
    }
    .home-page h3 {
      margin: 0;
    }
    #skills h3 {
      font-size: 25px;
      font-weight: 500;
    }
    .skills-list{
      max-width: 300px;
      display: flex;
      flex-wrap: wrap;
      height: 40px;
    }
    .skills-list li img {
      height: 30px;
    }
  }